body {
    font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.palete {
    position: absolute;
    left: 2%;
    top: 10%;
    height: 75%;
    right: 2%;
    z-index: 1;
}

.controls {
    position: absolute;
    top: 87%;
    width: 100%;
    bottom: 0px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2px 2px;
    cursor: pointer;
}

.btn-blue {background-color: #008CBA;}
.btn-red {background-color: #f44336;}

input[type="file"] {
    display: none;
}

input[type="text"] {
    font-size: 1em;
    margin: 2px 2px;
    padding: 15px 15px;
    text-align: center;
    width: 80px;
}

.custom-file-upload {
    background-color: #ff9800;
    color: black;
    border: none;
    display: inline-block;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 2px 2px;
    cursor: pointer;
}

/* source: https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 2em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
